
# Ignore virtual environment
.venv/

# Ignore Python bytecode
__pycache__/

# Ignore environment variables
.env

# Ignore PyCharm project files
.idea/

# Ignore compiled Python files
*.pyc

# Ignore distribution/build files
dist/
build/

# Ignore generated HTML files
# *.html

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db